<% include header %>
<% include banner %>
<% include navigatie %>

<span id="titel"><h2>Nieuwsitems voor de categorie <%- categorieen[id] %></h2></span>


  <% for (var i = 0; i < items.length; i++) { %>
    <% if (items[i].categorieen.indexOf(categorieen[id]) !== -1) { %>
            <div id="kop">
                <h2>
                  <a href=/items/<%- items[i].id %>><%- items[i].titel %></a>
                </h2>
            </div>
            <div id="nieuwsbericht">
                  <img src="/img/<%- items[i].afbeeldings %>" alt="<%- items[i].titel %>">

                  <span id="datum"><p><%- items[i].datum %></p></span>

                  <p><%- items[i].samenvatting %></p>
                  <span id="verder_terug"><h3><a href=/items/<%- items[i].id %>>Lees Verder >></a></h3></span>
            </div>
    <% } %>
  <% } %>

<% include footer %>

