<% include header %>

<img src="./img/banner.png" id="banner"/>
<img src="./img/banner_mobiel.png" id="banner_mobiel"/>


<nav id="navigatie">
  <% for (var i = 0; i < categorieen.length; i++) { %>
    <a href="/categorieen/<%- i %> id="link"><%- categorieen[i] %></a>
  <% } %>
</nav>

<div id="container"/>
  <% var teller = 1; %>
  <% nieuws.forEach(function(item){ %>

        <div id="kop"> 
            <h2><a href=/items/<%- item.id %>><%- item.titel %></a></h2>
        </div>
        
        <div id="nieuwsbericht">
          <img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>">
        <p>
          <%- item.datum %> - <%- item.samenvatting %>
        </p>
        <span id="verder_terug"><h3><a href=/items/<%- item.id %>>Lees Verder >></a></h3></span>
    </div>
    <% teller++;}); %>
</div>

<% include footer %>
